/* Bigger tags */

body {
    background: rgb(122,115,251);
    background: linear-gradient(180deg, rgba(122,115,251,1) 0%, rgba(250,149,254,1) 47%, rgba(0,212,255,1) 100%);
}

br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 0; /* change this to whatever height you want it */
}

/* Class-level styles */

.section-header {
    text-align: center;
}
